<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>some web site</title>
</head>
<body>
    <h1>{{headingCapitalizer pageTitle}}</h1>
    {{> header }}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore illo iste a omnis voluptatem corporis at. Culpa aut ad rem reprehenderit provident neque beatae accusamus molestias corporis? Doloribus, natus corporis ullam fuga tenetur assumenda.</p>
{{> footer}}
</body>
</html>