<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
</head>
<body>
    {{> header}}
    <h1> {{headingCapitalizer2 pageTitle}}</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia blanditiis quos itaque explicabo eligendi repellat vel, voluptatum ducimus numquam molestiae a veniam corrupti aspernatur soluta eum? Quod eaque voluptatibus porro! Corporis tempora tempore alias. </p>
    {{> footer}}
</body>
</html>